<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet">
        <title>Mój katalog kapsli</title>
    </head>
    <body>
        <header class="navbar">
            <div class="container">
                <div class="navbar-nav">
                    <h1>
                        <a href="{{ path('app_homepage') }}">Mój katalog kapsli</a>
                    </h1>
                </div>
                <form class="navbar-form navbar-right" action="{{ path('caps_search') }}" role="search">
                    <div class="form-group">
                        <input value="{{ searchParam is defined ? searchParam : '' }}" type="text" class="form-control" name="search" placeholder="Szukaj...">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </form>                    
            </div>
        </header>
        <div class="container">
            
            <ol class="breadcrumb">
                <li><a href="{{ path('app_homepage') }}">Home</a></li>
                {% block breadcrumb %}
                {% endblock %}
            </ol>
            
            {% block pageContainer %}{% endblock %}
        </div>
        <footer>
            <div class="container">
                <p>Copyright &copy; 2015 Damian</p>
            </div>
        </footer>
                
        <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
        
    </body>
</html>