{% extends 'AppBundle::base.html.twig' %}

{% block headTitle %}
    {{ cap.name ~ ' | ' ~ parent() }}
{% endblock %}

{% block breadcrumb %}
    <li>{{ cap.name }}</li>
{% endblock %}

{% block pageContainer %}

    <section id="caps-card">
        <h2>{{ cap.name }}</h2>
        <hr>
        <p>
            <span class="glyphicon glyphicon-time"></span> Dodany {{ cap.createDate|date('Y-m-d H:i') }}
        </p>
        <hr>
        <p>            
            <img class="img-responsive" src="{{ asset(cap.image) }}" alt="{{ cap.name }}">
        </p>       
        {% if cap.brewery is not null %}
        <p>
            Browar: <a href="{{ path('breweries_details', {'slug' : cap.brewery.slug}) }}"><strong>{{ cap.brewery.name }}</strong></a>            
        </p>
        {% endif %}
    </section>

{% endblock %}