<!DOCTYPE html>
<html>
    <head>
        <title>Mój katalog kapsli</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% stylesheets filter="?scssphp" output="css/admin_combined.css"
            "bundles/admin/bootstrap/css/bootstrap.min.css"
            "bundles/admin/css/sb-admin.css"
            "bundles/admin/css/font-awesome/css/font-awesome.min.css"
            "bundles/admin/css/admin-panel.css"
            "bundles/admin/css/select2.min.css"
            "bundles/admin/css/select2-bootstrap.min.css"
            "bundles/admin/css/bootstrap-tagsinput.css"
            "bundles/admin/css/bootstrap-datetimepicker.min.css"
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="wrapper">
            
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Nawigacja</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('admin_homepage') }}">Mój katalog kapsli</a>
                </div>
                
                <ul class="nav navbar-right top-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Moje konto <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('_logout') }}"><i class="fa fa-fw fa-power-off"></i> Wyloguj</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                            
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    {% include 'AdminBundle:Partials:adminMenu.html.twig' %}
                </div>                
                            
            </nav>

            <div id="page-wrapper">
                <div class="container-fluid">     
                    
                    {% for success in app.session.flashBag.get('success') %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>Sukces!</strong> {{ success }}
                    </div>
                    {% endfor %}
                    
                    {% for error in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>Błąd!</strong> {{ error }}
                    </div>
                    {% endfor %}
                    
                    {% block pageContent %}
                    {% endblock %}
                </div>
            </div>


            <footer>
                <div class="copy text-center">
                    Copyright 2015 <a href='#'>Damian</a>
                </div>
            </footer>
        </div>            

        {% javascripts filter="?jsqueeze" output="js/admin_combined.js"
            '@AdminBundle/Resources/public/js/jquery.js'
            '@AdminBundle/Resources/public/bootstrap/js/bootstrap.min.js'
            '@AdminBundle/Resources/public/js/select2.full.min.js'
            '@AdminBundle/Resources/public/js/bootstrap-tagsinput.min.js'
            '@AdminBundle/Resources/public/js/moment.min.js'
            '@AdminBundle/Resources/public/js/bootstrap-datetimepicker.min.js'
            '@AdminBundle/Resources/public/js/custom.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block javascripts %}
        {% endblock %}
        
    </body>
</html>