<!DOCTYPE html>
<html>
    <head>
        <title>Mój katalog kapsli</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ asset('bundles/admin/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- styles -->
        <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/admin/css/login.css') }}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        
        <header class="navbar">
            <div class="container">
                <div class="nav navbar-nav">
                    <h1>
                        <a href="{{ path('app_homepage') }}">Mój katalog kapsli</a>
                    </h1>
                </div>
            </div>
        </header>
           
        <section class="login-container">            
            <div class="container">
                <div class="row">

                    <div class="col-md-4 col-md-offset-4">
                        {% block pageContent %}{% endblock %}
                    </div>

                </div>
            </div>      
        </section>            

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="text-right">                                                            
                            Copyright &copy; 2015 Damian
                        </p>
                    </div>
                </div>
            </div>
        </footer>   
                        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{ asset('bundles/admin/js/jquery.js') }}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ asset('bundles/admin/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/admin/js/custom.js') }}"></script>
    </body>
</html>