{% extends 'Backend/base.html.twig' %}

{% block pageContent %}
    
    
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            {% if capId is not null %}
                Edycja kapsla #{{ capId }}
            {% else %}
                Nowy kapsel
            {% endif %}
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="glyphicon glyphicon-dashboard"></i>  
                <a href="{{ path('admin_homepage') }}">Kokpit</a>
            </li>            
            <li>
                <i class="glyphicon glyphicon-list"></i> 
                <a href="{{ path('admin_caps_list') }}">Zarządzanie kapslami</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> 
                {% if capId is not null %}
                    Edycja kapsla #{{ capId }}
                {% else %}
                    Nowy kapsel
                {% endif %}
            </li>
        </ol>    
    </div>
</div>    

<div class="row">

    <div class="col-lg-12">
            
        {% form_theme form with 'Backend/Form/form_theme.html.twig' %}

        {{ form(form) }}

        <a href="{{ path('admin_caps_list', app.request.query.all) }}"><span class="glyphicon glyphicon-arrow-left"> Powrót</span></a>

    </div>

</div>

{% endblock %}