{% extends 'AdminBundle::base.html.twig' %}

{% block pageContent %}

<div class="content-box-large">
    
    <div class="panel-heading">
        <div class="panel-title">Podgląd browaru  #{{ brewery.id }}</div>
    </div>

    <div class="panel-body">

        <div class="table-responsive">

            <table class="table table-striped table-bordered table-hover">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{ brewery.id }}</td>
                    </tr>
                    <tr>
                        <th>Nazwa</th>
                        <td>{{ brewery.name }}</td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td>
                            <div class="btn-group">                                
                                <a href="{{ path('admin_brewery_form_action', {'id' : brewery.id}) }}" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit"></span></a>
                                {% set tokenName = csrfProvider.generateCsrfToken(deleteTokenName|format(brewery.id)) %}
                                {% set deleteUrl = path('admin_delete_brewery', {'id': brewery.id, 'token': tokenName}) %}
                                <a href="{{ deleteUrl }}" class="btn btn-danger btn-sm" data-confirmaction=""><span class="glyphicon glyphicon-trash"></span></a>
                            </div>
                        </td>
                    </tr>                   
                </tbody>
            </table>
                    
            <a href="{{ path('admin_breweries_list', app.request.query.all) }}"><span class="glyphicon glyphicon-arrow-left"> Powrót</span></a>

        </div>

    </div>

</div>

{% endblock %}