<nav class="navbar navbar-default" role="navigation">
    <div class="container"> 
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="#">
                <img width="20" height="20" alt="Brand" src="{{ asset('bundles/app/images/bottle58_32.png') }}">
            </a>
        </div>

        <div id="main-menu">
            <ul class="slimmenu">
                <li><a href="{{ path('app_homepage') }}">Kapsle</a></li>
                <li><a href="{{ path('breweries_index') }}">Browary</a></li>
                <li><a href="{{ path('countries_index') }}">Kraje</a></li>
                <li><a href="{{ path('contact') }}">Kontakt</a></li>
                {{ get_html_tree() }}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>    
</nav>  