<nav class="navbar navbar-default" role="navigation">
    <div class="container"> 
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                <span class="sr-only">Rozwiń</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>   
            <a class="navbar-brand" href="#">
                <img width="20" height="20" alt="Brand" src="{{ asset('bundles/app/images/bottle58_32.png') }}">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('app_homepage') }}">Kaplse</a></li>             
                <li><a href="{{ path('breweries_index') }}">Browary</a></li>
                <li><a href="{{ path('countries_index') }}">Kraje</a></li>
                <li><a href="{{ path('contact') }}">Kontakt</a></li>             
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>    
</nav>  