{% extends 'AdminBundle::base.html.twig' %}

{% block pageContent %}
    
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            {% if slideId is not null %}
                Edycja strony #{{ slideId }}
            {% else %}
                Nowa strona
            {% endif %}
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="glyphicon glyphicon-dashboard"></i>  
                <a href="{{ path('admin_homepage') }}">Kokpit</a>
            </li>            
            <li>
                <i class="fa fa-file-o"></i>
                <a href="{{ path('admin_pages_list') }}">Zarządzanie stronami</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> 
                {% if slideId is not null %}
                    Edycja strony #{{ slideId }}
                {% else %}
                    Nowa strona
                {% endif %}
            </li>
        </ol>    
    </div>
</div>       

<div class="row">

    <div class="col-lg-12">

        {% form_theme form with 'AdminBundle:Form:form_theme.html.twig' %}

        {{ form(form) }}

        <a href="{{ path('admin_pages_list', app.request.query.all) }}"><span class="glyphicon glyphicon-arrow-left"> Powrót</span></a>

    </div>

</div>

{% endblock %}