{% extends 'AppBundle::base.html.twig' %}

{% block headTitle %}
    {{ brewery.name ~ ' | ' ~ parent() }}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('breweries_index') }}">Browary</a></li>
    <li>{{ brewery.name }}</li>
{% endblock %}

{% block pageContainer %}

    <section id="caps-card">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>{{ brewery.name }}</h2>        
            <hr>
            <p>
                <span class="glyphicon glyphicon-time"></span> Dodany {{ brewery.createDate|date('Y-m-d H:i') }}
            </p>
            <hr>  
        </div>  
        <div class="col-md-6">  
            {{ mapHtml|raw }}
            {{ mapJS|raw }}
        </div> 
        <div class="col-md-6">  
            {% if brewery.country is not null %}
                <p>{{ brewery.country.name }}</p>
            {% endif %}    
            <p>{{ brewery.postcode }}, {{ brewery.city }}</p>        
            <p>{{ brewery.address }}</p>
        </div>       
    </section>

{% endblock %}