{% extends 'AppBundle::base.html.twig' %}

{% block headTitle %}
    {% if pageTitle is defined %} 
        {{ pageTitle ~ ' | ' ~ parent() }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    <li>Browary</li>
{% endblock %}

{% block pageContainer %}
    
    {% if pageTitle is defined %} 
        <h3>{{ pageTitle }}</h3>
    {% endif %}

    <p>Ilość browarów: <strong>{{ pagination.getTotalItemCount }}</strong></p>  
    
    <ul class="listing row breweries-index">        

        {% for brewery in pagination %}
            <li class="col-xs-12 col-sm-4 col-md-4 col-lg-4">     
                <div class="item">
                    <a href="{{ path('breweries_details', {'slug' : brewery.slug}) }}">                                                      
                        <strong class="item-name">{{ brewery.name }}</strong>
                    </a>
                    {% if brewery.country is not null %}
                        <p>{{ brewery.country.name }}</p>
                    {% endif %}    
                    <p>{{ brewery.city }}</p>
                </div>        
            </li>

            {% if loop.index0 % 3 == 2 %}
                <li class="line col-xs-12 col-sm-12 col-md-12 col-lg-12"></li>
            {% endif %}

        {% endfor %}

    </ul>
    
{{ knp_pagination_render(pagination, 'AppBundle:Pagination:pagination.html.twig') }}    

{% endblock %}