{% extends 'frontend/base.html.twig' %}

{% block headTitle %}
    {{ brewery.name ~ ' | ' ~ parent() }}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('breweries_index') }}">Browary</a></li>
    {% if brewery.country is not null %}
        <li><a href="{{ path('countries_details', {'slug' : brewery.country.slug}) }}">{{ brewery.country.name }}</a></li>
    {% endif %}
    <li>{{ brewery.name }}</li>
{% endblock %}

{% block pageContainer %}

    <section id="caps-card">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>{{ brewery.name }}</h2>        
            <hr>
            <p>
                <span class="glyphicon glyphicon-time"></span> Dodany {{ brewery.createDate|date('Y-m-d H:i') }}
            </p>
            <hr>  
        </div>  
            
        {% if brewery.lat is not null and  brewery.lng is not null %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="map-wrapper">              
            <div id="map"></div>
            <script>
            function initMap() {
                var myLatLng = {lat: {{  brewery.lat }}, lng: {{  brewery.lng }} };

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 16,
                    center: myLatLng
                });
                
                var contentString = '{{ brewery.name }}';
                
                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });

                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: '{{ brewery.name }}'
                });
                
                marker.addListener('click', function() {
                    infowindow.open(map, marker);
                });
                
            }
            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBSPNX08cXOYUZabQC6FjeZu0rQXJWzms&callback=initMap"></script>               
        </div> 
        {% endif %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">  
            {% if brewery.country is not null %}
                <p><a href="{{ path('countries_details', {'slug' : brewery.country.slug}) }}">{{ brewery.country.name }}</a></p>
            {% endif %}    
            <p>
                {% if brewery.postcode is not null %}
                    {{ brewery.postcode }}, 
                {% endif %}                     
                {{ brewery.city }}
            </p>        
            <p>{{ brewery.address }}</p>
            <p>Kapsle: {{ brewery.caps|length }}</p>
        </div>

        {% if brewery.facts|length > 0 %}
            <div id="brewery-capses" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h4>Fakty o browarze</h4>
                <div class="timelineBox">
                    <div class="outerTimeline">
                        <div class="timeline">
                            {% for fact in brewery.facts %}
                                <div class="item">
                                    <div class="eventContainer">
                                        <h3 class="year"><strong>{{ fact.year }}</strong></h3>
                                        <p class="desc">{{ fact.text }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        
        <div id="brewery-capses" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
            <h4>Kapsle z tego browaru</h4>
            {% include 'frontend/Partials/listingCaps.html.twig' %}
        </div>        
        
    </section>

{% endblock %}

{% block inlineJavascripts %}

    <script type="text/javascript">

        jQuery(document).ready(function() {
            jQuery('.timeline').owlCarousel({
                loop:false,
                margin:0,
                stagePadding: 0,
                nav:true,
                responsive:{
                    300:{
                        items:1
                    },
                    400:{
                        items:2
                    },
                    500:{
                        items:2
                    },
                    600:{
                        items:3
                    },
                    1000:{
                        items:4
                    }
                }
            });
        });

    </script>

{% endblock %}